In [1]:
# Nama  : Aditya Alif Nugraha
# NIM   : 1301154183
# Kelas : IF-39-01

import pandas as pd
import fun
from qlearning import QLearning
import numpy as np

if __name__ == '__main__':
    env = fun.load_environment("DataTugasML3.txt")
    env = np.flip(env, axis=0)
    print(env)

    ql = QLearning(env)
    ql.fit(50)
    tracks, rewards = ql.predict()

    print("=============== HASIL TRAINING Q-LEARNING ===============")
    print("Jalur: ", *tracks)
    print("Total Rewards: ", rewards)
    fun.visualize_tracks(tracks)

[[ -5  -3  -1  -2  -4  -3  -5  -2  -2  -2]
 [ -2  -1  -1  -4  -1  -3  -5  -1  -4  -1]
 [ -4  -2  -5  -4  -1  -4  -5  -5  -2  -4]
 [ -4  -3  -2  -3  -1  -3  -4  -3  -1  -3]
 [ -4  -2  -5  -2  -4  -5  -1  -2  -2  -4]
 [ -4  -3  -3  -2  -1  -1  -1  -4  -3  -4]
 [ -3  -5  -2  -5  -1  -4  -5  -1  -3  -4]
 [ -3  -4  -4  -1  -3  -5  -5  -4  -3  -5]
 [ -2  -1  -1  -4  -2  -5  -3  -5  -5  -5]
 [ -1  -3  -5  -1  -3  -3  -5  -5  -1 100]]
=============== HASIL TRAINING Q-LEARNING ===============
Jalur:  (1, 0) (1, 1) (1, 2) (1, 3) (1, 4) (2, 4) (3, 4) (4, 4) (5, 4) (5, 5) (5, 6) (5, 7) (6, 7) (6, 8) (7, 8) (8, 8) (9, 8) (9, 9)
Total Rewards:  65

In [2]:
df = pd.DataFrame(ql.r_table).T
print("R Table")
df.to_excel("R Table.xlsx")
df

R Table

         E    N      S    W
0 0   -3.0  NaN   -2.0  NaN
  1   -1.0  NaN   -1.0 -5.0
  2   -2.0  NaN   -1.0 -3.0
  3   -4.0  NaN   -4.0 -1.0
  4   -3.0  NaN   -1.0 -2.0
  5   -5.0  NaN   -3.0 -4.0
  6   -2.0  NaN   -5.0 -3.0
  7   -2.0  NaN   -1.0 -5.0
  8   -2.0  NaN   -4.0 -2.0
  9    NaN  NaN   -1.0 -2.0
1 0   -1.0 -5.0   -4.0  NaN
  1   -1.0 -3.0   -2.0 -2.0
  2   -4.0 -1.0   -5.0 -1.0
  3   -1.0 -2.0   -4.0 -1.0
  4   -3.0 -4.0   -1.0 -4.0
  5   -5.0 -3.0   -4.0 -1.0
  6   -1.0 -5.0   -5.0 -3.0
  7   -4.0 -2.0   -5.0 -5.0
  8   -1.0 -2.0   -2.0 -1.0
  9    NaN -2.0   -4.0 -4.0
2 0   -2.0 -2.0   -4.0  NaN
  1   -5.0 -1.0   -3.0 -4.0
  2   -4.0 -1.0   -2.0 -2.0
  3   -1.0 -4.0   -3.0 -5.0
  4   -4.0 -1.0   -1.0 -4.0
  5   -5.0 -3.0   -3.0 -1.0
  6   -5.0 -5.0   -4.0 -4.0
  7   -2.0 -1.0   -3.0 -5.0
  8   -4.0 -4.0   -1.0 -5.0
  9    NaN -1.0   -3.0 -2.0
..     ...  ...    ...  ...
7 0   -4.0 -3.0   -2.0  NaN
  1   -4.0 -5.0   -1.0 -3.0
  2   -1.0 -2.0   -1.0 -4.0
  3   -3.0 -5.0   -4.0 -4.0
  4   -5.0 -1.0   -2.0 -1.0
  5   -5.0 -4.0   -5.0 -3.0
  6   -4.0 -5.0   -3.0 -5.0
  7   -3.0 -1.0   -5.0 -5.0
  8   -5.0 -3.0   -5.0 -4.0
  9    NaN -4.0   -5.0 -3.0
8 0   -1.0 -3.0   -1.0  NaN
  1   -1.0 -4.0   -3.0 -2.0
  2   -4.0 -4.0   -5.0 -1.0
  3   -2.0 -1.0   -1.0 -1.0
  4   -5.0 -3.0   -3.0 -4.0
  5   -3.0 -5.0   -3.0 -2.0
  6   -5.0 -5.0   -5.0 -5.0
  7   -5.0 -4.0   -5.0 -3.0
  8   -5.0 -3.0   -1.0 -5.0
  9    NaN -5.0  100.0 -5.0
9 0   -3.0 -2.0    NaN  NaN
  1   -5.0 -1.0    NaN -1.0
  2   -1.0 -1.0    NaN -3.0
  3   -3.0 -4.0    NaN -5.0
  4   -3.0 -2.0    NaN -1.0
  5   -5.0 -5.0    NaN -3.0
  6   -5.0 -3.0    NaN -3.0
  7   -1.0 -5.0    NaN -5.0
  8  100.0 -5.0    NaN -5.0
  9    NaN -5.0    NaN -1.0

[100 rows x 4 columns]

In [9]:
df = pd.DataFrame(ql.q_table).T
print("Q Table")
df.to_excel("Q Table.xlsx")
df.head()

Q Table

            E    N          S         W
0 0 -0.007896  0.0   0.992104  0.000000
  1  3.324560  0.0   3.324560 -4.107107
  2  3.805066  0.0   4.805066 -0.007896
  3  6.450074  0.0   6.450074  3.324560
  4  4.925063  0.0  11.611193  3.805066